{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="features">
    <h1>Новости на сатйе:</h1>
    {% if news %}
        {% for elem in news %}
            <div class="alert alert-warning">
                <h3>Дата: {{elem.date}}</h3>
                <h3>Название: {{elem.title}}</h3>
                <h3>Анонс: {{elem.anons}}</h3>
                <h3>Текст: {{elem.text}}</h3>
                <a href="{% url 'news-details' elem.id %}" class="btn btn-warning">Читать польностью</a> <!-- el.id - порядковый номер определённой статьи -->
            </div>
        {% endfor %}
    {% else %}
        <p> Актуальные новости отсутствуют </p>
    {% endif %}

     {# Это комментарий #}
   </div>
{% endblock %}


